.sidebar__container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 350px;
  max-width: 350px;
  background-color: #0e151b;
  color: #fff;
  gap: 50px;
  padding-top: 25px;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar__logo {
  cursor: pointer;
}

.sidebar__list__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  transition: 0.5s;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

.sidebar__list__menu:hover {
  background: rgba(171, 33, 236, 0.15);
  backdrop-filter: blur(10px);
  color: #ab21ec;
  transition: 0.5s;
  font-weight: bold;
}

.sidebar__list__menu:hover .sidebar__half__circle {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%) rotate(90deg);
  transition: visibility 1s, opacity 0.5s linear;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar__half__circle {
  transition-delay: 1s;
  transition-property: display;
  margin-left: -5px;
  visibility: hidden;
  opacity: 0;
  width: 15px;
  height: 10px;
  background-color: #ab21ec;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 1px solid #ab21ec;
  border-bottom: 0;
  transform: rotate(90deg);
  transition: visibility 0s, opacity 0.5s linear;
}
