:root {
  --input-color: #fff;
  --input-border: #acb5ca;
  --input-background: #202740;
  --input-placeholder: #acb5ca;
  --input-border-focus: #ad21ed;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #202740;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #ad21ed;
}

.form-field {
  display: block;
  max-width: 200px;
  min-width: 200px;
  padding: 8px 16px;
  line-height: 25px;
  max-height: 30px;
  font-size: 12px;
  border-radius: 20px;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  cursor: pointer;
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
  font-size: 12px;
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
}
.form-group > span,
.form-group .form-field {
  white-space: nowrap;
  display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
  border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
  border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group .form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form-group > span {
  padding: 8px 12px;
  display: flex;
  line-height: 24px;
  max-height: 30px;
  align-items: center;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid #acb5ca;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}
.form-group:focus-within > span {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}

.form-field:focus::placeholder {
  color: #fff;
}
