.stats__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.stats__left {
    margin-left: 20px;
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AB21EC;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 16px rgba(172, 181, 202, 0.6));
}

.stats__right {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ACB5CA;
}

.stats__right > h1 {
    font-size: 18px;
    font-weight: 500;
}

.stats__right > p {
    font-size: 12px;
    font-weight: 400;
}