body {
    background-color: #11191F;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
}