.crypto__container {
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 300px;
  color: #fff;
  background-color: #202740;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.crypto__container:hover {
  background-color: #2a315e;
  transition: 0.5s;
}

.crypto__left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.crypto__left > img {
  width: 30px;
  height: 30px;
}

.crypto__left__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.crypto__left__text > h3 {
  font-size: 14px;
  font-weight: 500;
}

.crypto__right {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.green {
  color: #59e4d7;
}

.red {
  color: #ab21ec;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.text > span {
  font-size: 10px;
  font-weight: 400;
  color: #acb5ca;
}
