.dashboard__container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    color: #fff;
    padding: 25px;
    gap: 25px;
}

.dashboard__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.dashboard__header__middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.dashboard__header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dashboard__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: contain;
}

.dashboard__content__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #ACB5CA;
}

.dashboard__content__middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.dashboard__content__middle__left {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dashboard__content__middle__right {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dashboard__content__middle__right__stats {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #202740;
    border-radius: 15px;
    padding: 20px;
    transition: 0.5s;
}

.dashboard__content__middle__right__stats:hover {
  background-color: #2a315e;
  transition: 0.5s;
}

.dashboard__content__middle__right__stats > h1 {
    font-size: 20px;
    font-weight: 500;
    color: #ACB5CA;
}

.dashboard__stats__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}